{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}Julian Garcia - Contact{% endblock %}

{% block email_js %}
<script type="text/javascript" src="https://cdn.emailjs.com/sdk/2.3.2/email.min.js"></script>
<script src="{% static 'scripts/email.js' %}"></script>
{% endblock %}

{% block content %}
<div class="page-content contact-content">
  <div class="columns">
    <div class="column is-8">
      <form id="email-form">
          <div class="field">
            <div class="control has-icons-left has-icons-right">
              <input type="text" name="email_address" class="contact-form-input input paragraph-text" placeholder="Email Address" required="" id="id_email_address">
              <span class="contact-form-icon icon is-small is-left">
                <i class="fas fa-at"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <div class="control has-icons-left">
              <textarea name="message" cols="40" rows="10" class="contact-form-input textarea input paragraph-text" placeholder="Your Message" required="" id="id_message"></textarea>
              <span class="contact-form-icon icon is-small is-left">
                <i class="fas fa-pencil-alt"></i>
              </span>
            </div>
          </div>
        <div class="field">
          <div class="control has-icons-left">
            <button class="contact-form-input input" type="submit">Send Message</button>
            <span class="contact-form-icon icon is-small is-left">
              <i class="fas fa-paper-plane"></i>
            </span>
          </div>
        </div>
      </form>
    </div>
    <div class="column is-4">
      <h3>{{ post_message }}</h3>
      <div class="contact-method inactive-border">
        <span class="contact-method-icon">
          <i class="far fa-envelope"></i>
        </span>
        <a class="sub-heading" href="mailto:julian.garcia.leoni@gmail.com" target="_blank">Email me</a>
      </div>
      <div class="contact-method inactive-border">
        <span class="contact-method-icon">
          <i class="fab fa-slack-hash"></i>
        </span>
        <a class="sub-heading" href="https://join.slack.com/t/julian-garcia/shared_invite/enQtNDQyMTM3MjU5NDQ3LWI3OTY5MzIyMGIyNWZmZTc0NjIwNmFkNjk0ZDcyMGY0MWZmZGEwN2JiOTk4NmY1ODYyNTc1MTUwYTJkN2E0YjQ" target="_blank">Slack chat</a>
      </div>
      <div class="contact-method inactive-border">
        <span class="contact-method-icon">
          <i class="fab fa-linkedin-in"></i>
        </span>
        <a class="sub-heading" href="https://linkedin.com/in/juliangarcialeoni/" target="_blank">LinkedIn profile</a>
      </div>
      <div class="contact-method inactive-border">
        <span class="contact-method-icon">
          <i class="fab fa-skype"></i>
        </span>
        <a class="sub-heading" href="skype:julian.garcia.leoni?chat">Skype chat</a>
      </div>
      <h3 class="sub-heading">Book a meeting</h3>
      <div class="calendly-inline-widget" data-url="https://calendly.com/julian-garcia-leoni"></div>
      <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
    </div>
  </div>
</div>
{% endblock %}
