{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}Julian Garcia{% endblock %}
{% block content %}
<div class="page-content home-content">
  <div class="logos columns is-mobile">
    <div class="column"><i class="fab fa-html5"></i></div>
    <div class="column"><i class="fab fa-css3"></i></div>
    <div class="column"><i class="fab fa-sass"></i></div>
    <div class="column"><i class="fab fa-js"></i></div>
    <div class="column"><i class="fab fa-python"></i></div>
  </div>
  <div class="home-text">
    <p>Test</p>
  </div>
  <div class="logos images">
    <div class="img-col"><img src="{% static 'images/django.png' %}" alt="django"></div>
    <div class="img-col"><img src="{% static 'images/jquery.png' %}" alt="jquery"></div>
    <div class="img-col"><img src="{% static 'images/flask.png' %}" alt="flask"></div>
    <div class="img-col"><img src="{% static 'images/heroku.png' %}" alt="heroku"></div>
    <div class="img-col"><img src="{% static 'images/sas.png' %}" alt="sas"></div>
  </div>
</div>
{% endblock %}
