{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}Julian Garcia{% endblock %}
{% block content %}
<div class="page-content home-content">
  <div class="logos columns is-mobile">
    <div class="column"><i class="fab fa-html5"></i></div>
    <div class="column"><i class="fab fa-css3"></i></div>
    <div class="column"><i class="fab fa-sass"></i></div>
    <div class="column"><i class="fab fa-js"></i></div>
    <div class="column"><i class="fab fa-python"></i></div>
    <div class="column"><i class="fab fa-github"></i></div>
  </div>
  <div class="home-text">
    <p class="paragraph-text">The experience I have with the surrounding web languages, frameworks and platforms is show cased in my public <a href="#github">GitHub repositories</a>.</p>
    <br>
    <p class="paragraph-text">Peruse my <a href="{% url 'portfolio' %}">portfolio</a> to experience deployed and usable implementations of my projects. Feel free to <a href="{% url 'contact' %}">get in touch</a> with any comments or suggestions.</p>
    <div class="meetups">
      {% if meetup_group_list %}
      <h3 class="sub-heading"><i class="fab fa-meetup"></i> My Meetup Groups</h3>
      {% for meetup in meetup_group_list %}
        <a href="{{ meetup.link }}" class="meetup-link button is-small is-light is-rounded" target='blank'>
          {{ meetup.name|truncatechars:20 }}
        </a>
      {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="logos images">
    <div class="img-col"><img src="{% static 'images/django.png' %}" alt="django"></div>
    <div class="img-col"><img src="{% static 'images/jquery.png' %}" alt="jquery"></div>
    <div class="img-col"><img src="{% static 'images/flask.png' %}" alt="flask"></div>
    <div class="img-col"><img src="{% static 'images/heroku.png' %}" alt="heroku"></div>
    <div class="img-col"><img src="{% static 'images/sas.png' %}" alt="sas"></div>
  </div>
  <div class="coding-habits-title">
    <h3 class="sub-heading">
      <i class="fas fa-laptop-code"></i> My Coding Habits
    </h3>
    <p class="has-text-centered">({{ coding_hours }} hours last 30 days)</p>
  </div>
  <canvas id="coding-chart" class="coding-habits inactive-border" width="400" height="400"></canvas>
  <figure class="coding-habits-mobile inactive-border">
    <embed src="{{ languages_mobile_svg }}"></embed>
  </figure>
  <a name="github"></a>
  <div class="github">
    <h3 class="sub-heading"><i class="fab fa-github"></i> Github Repositories</h3>
  </div>
</div>
{% endblock %}
{% block chart_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script type="text/javascript">
  const languages = {{ languages | safe }};
</script>
<script src="{% static 'scripts/coding_chart.js' %}"></script>
<script src="{% static 'scripts/github.js' %}"></script>
{% endblock %}
