{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}Julian Garcia - Experience{% endblock %}
{% block content %}
<div class="page-content experience-content">
  {% for item in experience %}
    {% if forloop.counter|divisibleby:2 %}
    <div class="timeline-item timeline-item-right">
    {% else %}
    <div class="timeline-item timeline-item-left">
    {% endif %}
      <p class="date-range">
          {{ item.start_date }} -
          {% if item.end_date %}
            {{ item.end_date }}
          {% else %}
            Present 
          {% endif %}
      </p>
      {% if item.logo %}
      <img class="company-logo" src="{{ item.logo.url }}">
      {% endif %}
      <h3 class="position-heading sub-heading has-text-left">{{ item.position }}</h3>
      <h3>{{ item.company }}
        {% if item.external_link %}
        <a href="{{ item.external_link }}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
        {% endif %}
      </h3>
      <p class="paragraph-text">{{ item.description }}</p>
    </div>
  {% endfor %}
</div>
{% endblock %}
