{% extends 'base.html' %}
{% load staticfiles %}
{% load markdownify %}
{% block page_title %}Julian Garcia - Notes{% endblock %}
{% block content %}
<div class="page-content notes-content">
  <div class="category-filter has-text-centered">
    <button class="button category-filter-button active-border" data-category='all'>
      All
    </button>
    {% for category in categories %}
      <button class="button category-filter-button inactive-border" data-category='{{ category | lower | cut:" " }}'>
        {{ category }}
      </button>
    {% endfor %}
  </div>
  {% for note in notes %}
    <div class="card notes-col" data-category='{{ note.category | lower | cut:" " }}'>
      <header class="card-header">
        <h3 class="card-header-title sub-heading">
          {{ note.note_title }}
        </h3>
        <span class="card-header-icon notes-icon">
          <span class="icon">
            <i class="fas fa-sticky-note"></i>
          </span>
        </span>
        <h5 class="notes-category">{{ note.category }}</h5>
      </header>
      <div class="card-content">
        <div class="content">
          {{ note.note_body | markdownify | striptags | truncatewords:10 }}
          <br>
          <span>{{ note.date_saved }}</span>
        </div>
      </div>
      <footer class="card-footer">
        <a href="{% url 'note' note.id %}" class="card-footer-item sub-heading">Read</a>
      </footer>
    </div>
  {% endfor %}
</div>
{% endblock %}
{% block ui_notes_js %}
<script src="{% static 'scripts/ui_notes.js' %}"></script>
{% endblock %}
