{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}Julian Garcia - Notes{% endblock %}
{% block content %}
<div class="page-content notes-content">
  {% for note in notes %}
    <div class="card notes-col">
      <header class="card-header">
        <h3 class="card-header-title sub-heading">
          {{ note.note_title }}
        </h3>
        <span class="card-header-icon notes-icon">
          <span class="icon">
            <i class="fas fa-sticky-note"></i>
          </span>
        </span>
      </header>
      <div class="card-content">
        <div class="content">
          {{ note.note_body | truncatewords:10 }}
          <br>
          <span>{{ note.date_saved }}</span>
        </div>
      </div>
      <footer class="card-footer">
        <a href="{% url 'note' note.id %}" class="card-footer-item sub-heading">Read</a>
      </footer>
    </div>
  {% endfor %}
</div>
{% endblock %}
