html, body {
  background-color: $light-grey;
}

.active-border {
  border-radius: 3px;
  box-shadow: 0px 0px 8px 5px rgba(122,122,122,1);
  -webkit-box-shadow: 0px 0px 8px 5px rgba(122,122,122,1);
  -moz-box-shadow: 0px 0px 8px 5px rgba(122,122,122,1);
}

.inactive-border {
  background-color: darken($light-grey, 2);
  border-radius: 3px;
  box-shadow: 0px 0px 8px 5px rgba(200,200,200,1);
  -webkit-box-shadow: 0px 0px 8px 5px rgba(200,200,200,1);
  -moz-box-shadow: 0px 0px 8px 5px rgba(200,200,200,1);
}

.main-menu {
  .logo-image {
    border-bottom-left-radius: 3px;
  }
}

.side-nav {
  .button {
    text-align: left;
  }

  .side-nav-icon {
    width: 30px;
    font-size: 1.4rem;
  }

  .side-nav-text {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }
}

.page-content {
  .paragraph-text {
    font-size: 24px;
    line-height: 28px;
  }
  .sub-heading {
    font-size: 1.6rem;
    text-align: center;
  }
  &.home-content {
    .logos {
      i {font-size: 40px;}
    }
    .home-text {
      padding: 1rem;
    }
    .github-button {
      margin: 0px 10px 10px 0;
    }
  }
  &.experience-content {
    .timeline-item-right, .timeline-item-left {
      .company-logo {
        max-width: 60px;
        float: right;
      }
      .position-heading {
        clear: left;
      }
    }
  }
  &.portfolio-content {
    .portfolio-item {
      margin-bottom: 2rem;
    }
    .portfolio-tech {
      max-width: 50px;
      float:left;
      margin-right: 5px;
    }
    .portfolio-tech-icon {
      line-height: 50px;
      font-size: 25px;
    }
  }
  @include breakpoint(phablet) {
    &.experience-content {
      .timeline-item {
        border-top: 1px solid black;

        .date-range {
          background-color: $light-grey;
          margin-top: -0.75rem;
          padding: 0 10px;
        }
      }
      .timeline-item-left {
        border-right: 1px solid black;
        padding: 0 20px 0 0;
        .date-range {
          float: right;
        }
        .company-logo {
          max-width: 60px;
          float: left;
          margin-right: 10px;
        }
        .position-heading {
          display: inline;
        }
      }
      .timeline-item-right {
        border-left: 1px solid black;
        padding: 0 0 0 20px;
        .date-range {
          float: left;
        }
      }
    }
    &.portfolio-content {
      .portfolio-item {
        border-radius: 10px;
        padding: 1rem;
        overflow: hidden;
      }
      .portfolio-item-light {
        background: white;
      }
      .portfolio-image {
        margin-right: 1rem;
      }
      .portfolio-link {
        display: block;
        text-align: center;
        font-size: 25px;
      }
      .portfolio-modal-image {
        max-width: 80%;
        width: unset;
      }
    }
  }
}
