.columns.main-menu {
  // Main navigation styling
  margin: 1.5rem 0 2.5rem 0;
  max-height: 80px;

  .logo-image {
    max-height: 100px;
    margin-top: -20px;
  }

  .contact-button {
    display: none;
    @include breakpoint(tablet) {
      display: inline-flex;
    }
  }

  .contact-button-mobile {
    display: none;
    @include breakpoint(phablet) {
      display: inline-flex;
    }
    @include breakpoint(tablet) {
      display: none;
    }
  }
}

.side-nav {
  margin-bottom: 2rem;
  display: none;

  .button {
    display: block;
    margin-bottom: .3rem;
  }

  @include breakpoint(phablet) {
    display: block;
    .button {
      width: calc(33.33% - 3px);
      box-sizing: border-box;
      display:inline-block;
    }
  }

  @include breakpoint(tablet) {
    width: 20%;
    margin-right: 2rem;
    float:left;

    .button {
      width: 100%;
      margin-bottom: 2rem;
      display:block;
    }
  }
}

.site-container {
  margin: 0 30px;
  .mobile-burger {
    // margin: -2rem 0 1rem 0;
  }

  @include breakpoint(phablet) {
    .mobile-burger {
      display: none;
    }
  }
}

.page-content {
  &.home-content {
    .logos {
      img {
        width: 50%;
        vertical-align: middle;
      }
      .img-col {
        display: inline-block;
        width: calc(20% - 4px);
        text-align: center;
      }
      .column {
        text-align: center;
      }
    }
    .home-text {
      width: 100%;
    }
    .coding-habits-title {
      margin-top: 2rem;
      margin-bottom: 2.5rem;
    }
    .coding-habits {
      display: none !important;
    }

    .github {
      margin-top: 2rem;
      min-height: 30px;
      .sub-heading {
        margin-bottom: 1rem;
      }
    }
  }
  &.experience-content {
    .timeline-item {
      margin-bottom: 3rem;
    }
    .timeline-item-left {
      clear: both;
    }
  }

  @include breakpoint(phablet) {
    &.home-content {
      .coding-habits-title {
        width: 50% !important;
        height: 30px !important;
      }
      .coding-habits {
        float: left;
        width: 50% !important;
        height: 50% !important;
      }
      .coding-habits {
        display: block !important;
      }
      .coding-habits-mobile {
        display: none;
      }
      .github {
        width: 50%;
        float: left;
        padding: 1rem;
        margin-top: calc(-30px - 3.5rem);
      }
    }
    &.experience-content {
      .timeline-item {
        width: 50%;
      }
      .timeline-item-left {
        float: left;
      }
      .timeline-item-right {
        float: right;
        margin: 8rem 1px 0 -1px;
      }
    }
  }
  @include breakpoint(tablet) {
    width: calc(100% - 20% - 2rem);
    float:left;

    &.home-content {
      .home-text {
        float: left;
        width: 50%;
      }

      .logos.columns {
        width: 60%;
      }

      .logos.images {
        width: 60px;
        margin-right: 30px;
        float:left;

        img {width: 60px;}
        .img-col {
          width: 60px;
          margin-bottom: 1rem;
        }
      }

      .coding-habits {
        float: left;
        padding: 2rem;
        width: calc(100% - 55% - 90px) !important;
        height: calc(100% - 55% - 90px) !important;
        margin-left: 2%;
      }

      .coding-habits-title {
        margin-top: -4rem;
        margin-bottom: 0;
        float: left;
        width: calc(100% - 55% - 90px) !important;
        height: calc(100% - 55% - 90px) !important;
        margin-left: 2%;
      }

      .github {
        clear: both;
        width: 100%;
        margin: 2rem 0;
        .sub-heading {
          text-align: left;
        }
      }
    }
  }
}
