.columns.main-menu {
  // Main navigation styling
  margin: 1.5rem 0 2.5rem 0;
  max-height: 80px;

  .logo-image {
    max-height: 100px;
    margin-top: -20px;
  }

  .contact-button {
    display: none;
    @include breakpoint(phablet) {
      display: inline-flex;
    }
  }

  .contact-button-mobile {
    display: inline-flex;
    @include breakpoint(phablet) {
      display: none;
    }
  }
}

.side-nav {
  margin-bottom: 2rem;

  .button {
    display: block;
    margin-bottom: .3rem;
  }

  @include breakpoint(phablet) {
    .button {
      width: calc(33.33% - 3px);
      box-sizing: border-box;
      display:inline-block;
    }
  }

  @include breakpoint(tablet) {
    width: 20%;
    margin-right: 2rem;
    float:left;

    .button {
      width: 100%;
      margin-bottom: 2rem;
      display:block;
    }
  }
}

.page-content {
  &.home-content {
    .logos {
      img {
        width: 50%;
        vertical-align: middle;
      }
      .img-col {
        display: inline-block;
        width: calc(20% - 4px);
        text-align: center;
      }
      .column {
        text-align: center;
      }
    }
  }
  @include breakpoint(tablet) {
    width: 60%;
    float:left;
    .home-text {
      float: left;
    }
    &.home-content {
      .logos.images {
        width: 60px;
        margin-right: 30px;
        float:right;

        img {width: 60px;}
        .img-col {
          width: 60px;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
